@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
/*
   Title: contact.component.css
 Author: Professor Krasso
 Date: 06/17/2022
 Modified By: Allan Trejo
 Description: Assignment 4.4 - Async Pipe

 */
