<!--
 Title: composer.component.html
 Author: Professor Krasso
 Date: 06/05/2022
 Modified By: Allan Trejo
 Description: Assignment 2.4 Composer component Template

-->
<table class="table table-bordered mt-5 table-hover">
  <thead class="thead-dark table-dark">
    <tr>
      <th scope="col">Composer Id</th>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let composer of composers; let i = index">
      <td scope="row"><a href="#">{{i + 100}}</a> </td>
      <td>{{ composer.fullName }}</td>
      <td>{{ composer.genre }}</td>
    </tr>
  </tbody>
</table>
