/*
   Title: composer.component.css
 Author: Professor Krasso
 Date: 06/16/2022
 Modified By: Allan Trejo
 Description: Exercise 4.3 - Handling Events with Observables
 */
.textSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
