<!--
 Title: about.component.html
 Author: Professor Krasso
 Date: 06/05/2022
 Modified By: Allan Trejo
 Description: Assignment 2.4 About component Template

-->
<div class="text-center border-bottom p-3">
  <h3>Antonio Vivaldi</h3>
</div>

<div class="media mt-5 d-flex ">
  <img class="mr-3" src="../../assets/Antonio-Vivaldi-violin.png" alt="Generic placeholder image" style="width: 200px">
  <div class="media-body ms-5">
    Antonio Vivaldi, in full Antonio Lucio Vivaldi, (born March 4, 1678, Venice, Republic of Venice [Italy]—died July
    28, 1741, Vienna, Austria), Italian composer and violinist who left a decisive mark on the form of the concerto
    and the style of late Baroque instrumental music.He made his first known public appearance playing alongside his
    father in the basilica as a “supernumerary” violinist in 1696. He became an excellent violinist, and in 1703 he
    was appointed violin master at the Ospedale della Pietà, a home for foundlings.
    <a href="https://www.britannica.com/biography/Antonio-Vivaldi">Source</a>
  </div>
</div>
