/*
 Title: base-layout.components.css
 Author: Professor Krasso
 Date: 07/03/2022
 Modified By: Allan Trejo
 Description: Assignment 6.4 - Input Properties
  Resources: Material Design https://material.angular.io/components
*/
.logo {
  margin-top: 5px;
}
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
