@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
/*
   Title: contact.component.css
 Author: Professor Krasso
 Date: 06/05/2022
 Modified By: Allan Trejo
 Description: contact component styling

 */
