<!--
 Title: not-found.component.html
 Author: Professor Krasso
 Date: 07/09/2022
 Modified By: Allan Trejo
 Description: Assignment 7.3 - Form Validation
  Resources: Material Design https://material.angular.io/components
-->
<!-- 404 not found -->
<dix fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%" class="mat-elevation-z0">
    <mat-card-title>
      <img src="./assets/not-found-image.png" alt="">
    </mat-card-title>
    <mat-card-content style="text-align: center; padding-left:30%">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>

    </mat-card-content>
  </mat-card>
</dix>
