<!--
   Title: my-details.component.html
 Author: Professor Krasso
 Date: 65/10/2022
 Modified By: Allan Trejo
Description: Assignment 3.4 - Guarding Routes
-->

<!-- Unordered list/ component to be placed in right column
  Rendered content using Angular Data binding
-->
<ul>
  <li>Name: {{ myProfile.fullName }} </li>
  <li>Favorite Food: {{ myProfile.favoriteFood }}</li>
  <li>Favorite Color: {{ myProfile.favoriteColor }}</li>
  <li>Keywords:
    <!-- ngFor Directive , loops over array using for/of  -->
    <span *ngFor="let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>
</ul>
