<!--
 Title: about.component.html
 Author: Professor Krasso
 Date: 06/22/2022
 Modified By: Allan Trejo
 Description: Assignment 5.2 - Navigation and Layout
  Resources: Material Design https://material.io
-->

<!-- 2 column material design layout -->
<div fxLayout="row wrap">

  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/philip.png">
      </div>
      <div>
        <em>
          Photo of Philip K. Dick<a class="attribution-link" href="https://pkd.fandom.com/wiki/Philip_K._Dick"
            target="_blank">Fandom</a>
        </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="blue">Who was Philip K. Dick</h1>
    <p>
      Philip Kindred Dick (December 16, 1928 – March 2, 1982) was an American novelist, short story writer and essayist
      whose published work is almost entirely in the science fiction genre. Dick explored sociological, political and
      metaphysical themes in novels dominated by monopolistic corporations, authoritarian governments and altered
      states. In his later works, Dick focused strongly on metaphysics and theology. He often drew upon his own life
      experiences in addressing the nature of drug abuse, paranoia and schizophrenia, and transcendental experiences
    </p>
    <em>Atribution to <a class="attribution-link" href="https://pkd.fandom.com/wiki/Philip_K._Dick">Fandom</a></em>
  </div>
</div>
